body {
  font-family: monospace;
  background: #f4e3e3;
}

.weather-app {
  padding: 30px;
  border: none;
  border-radius: 10px;
  background: #fff;
  opacity: 90%;
  box-shadow: 10px 10px #f76b8a;
}

.App {
  max-width: 600px;
  margin: 50px auto;
}
