.overview h1 {
  font-family: "Noto Sans";
  color: #d22116;
  font-size: 36px;
  font-weight: bolder;
  line-height: 28px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.overview ul {
  margin: 0;
  padding: 0;
}

.overview li {
  list-style: none;
  margin-top: 5px;
  padding: 0;
  color: #d22116;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

.overview li:first letter {
  text-transform: capitalize;
}

.overview {
  padding-bottom: 20px;
  margin-left: 20px;
  margin-top: 10px;
}

.weather-temperature canvas {
  margin-right: 5px;
  height: 52px;
  width: 52px;
}

.weather-temperature strong {
  color: #d22116;
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .unit {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-forecast-temperature {
  font-size: 18px;
}

.forecast-temperature-max {
  font-weight: bold;
}

.overview a {
  color: #d22116;
  text-decoration: none;
}

.overview a:hover {
  color: #2f3542;
  text-decoration: none;
}

#city-input {
  margin-left: 30px;
  border-radius: 50px;
  max-width: 90%;
  background: #f1e8e4;
  opacity: 0.5;
}

.btn-primary {
  background: #d22116;
  color: #ffffff;
  border: #d22116;
  border-radius: 50px;
  margin-left: 10px;
}

.btn-primary:hover {
  background: #2f3542;
}

.WeatherForecast {
  margin-top: 20px;
}

.WeatherInfo .weatherIcon {
  margin-top: 10px;
}

.WeatherInfo hr {
  border: 1.5px solid #d22116;
  opacity: 1;
  margin-top: 10px;
}

.WeatherInfo #date {
  bottom: 0px;
  font-size: 28px;
}
