#info {
  margin-left: 36px;
}

#city-input {
  margin-left: 30px;
  border-radius: 50px;
  max-width: 90%;
  background: #f4e3e3;
  opacity: 0.5;
}

.btn-primary {
  background: #f76b8a;
  color: #ffffff;
  border: #f76b8a;
  border-radius: 50px;
  margin-left: 10px;
}

.btn-primary:hover {
  background: #2f3542;
}
